*{
  border: 1px solid #ccc
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}
.global {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1000px
  margin: 0 auto;
}
