.hero {
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  &__content {
    display: flex;
    margin-left: 30px;
    gap: 15px;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    position: relative;
    z-index: 100;
  }
  &__description {
    max-width: 50%;
  }
  &__contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 7px;
    margin-top: 20px;
    font-weight: 600;
    font-size: $police_text;
    & a {
      color: $couleur_police_texte;
      text-decoration: none;
    }
  }

  &__titre {
    display: inline-block;
    animation: titreFadeIn 1.2s ease-in-out;
  }

  @keyframes titreFadeIn {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }
    60% {
      opacity: 1;
      transform: scale(1.05);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}
