.accordeon {
  cursor: pointer;
  &__chk {
    display: none;
  }
  &__excerpt {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }
  & h3 {
    text-align: center;
  }
  & a {
    display: inline-block;
    background-color: $couleur_orange;
    padding: 5px;
    border-radius: 5px;
  }
}
// input checkbox: accordéon
.accordeon__chk:checked ~ .accordeon__excerpt {
  max-height: 200px; // Ajustez la hauteur maximale selon vos besoins
}
