/**
///////////Composant .recherche
*/
.recherche {
  display: flex;
  border: 1px solid #aaa;
  align-items: center;

  &__input {
    border: none;
    outline: none;
  }
  &__bouton {
    border-left: 1px solid #aaa;
  }
}
